.category-list-item.category {
	padding-top: 0;
	padding-bottom: 0;
}

.category-list-item>footer, .subcategory-list-item>footer {
	padding-bottom: 0;
	background-color: white;
}

.category-list-item.category .topic-list {
	background-color: var(--quaternary);
}